// @font-face {
//   font-family: FakePearl-Regular;
//   src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
//   , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
// }

@font-face {  
  font-family: jf-openhuninn;  
  src: url('./assets/font/jf-openhuninn-1.1.ttf')
 } 

body{
  color:$text-default-color;

  background-color: #f5f4ee;

  font-family: 'jf-openhuninn','FakePearl-Regular',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // font-family: 'FakePearl-Regular', serif;
  // font-family: 'Noto Sans', serif;
}



#app{
  height: 100%;
}
.mainTemplate{
  height: 100%;
  display: flex;
  flex-direction: column;
}



a{
  cursor: pointer;
}
a.nounderline {
  text-decoration: none !important
}
//nav
a.nav-link.active {
  background-color: #ecf3e2;
}

.navbar-light .navbar-nav .nav-link{
  color:#4E4E4E;
}

//table
table{
  color:#585851 !important;
}

.bg-cover{
  background-position: center;
  background-size: cover;
}

.radius-0{
  border-radius: 0rem !important;
}
.radius-1{
  border-radius: 0.25rem !important;
}
.radius-2{
  border-radius: 0.5rem !important;
}
.radius-3{
  border-radius: 0.75rem !important;
}
.radius-4{
  border-radius: 1rem !important;
}
.radius-5{
  border-radius: 1.5rem !important;
}





.objectFit{
  object-fit: cover;
}

table.table-radius {

  border: 1px solid #c3c3c3;
  border-radius: 10px;

  border-spacing: 0px;
  border-collapse: separate;
  th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  th,td{
    vertical-align: middle;
  }
}




// navbar
.l-nav.navbar{
  padding:0;
}

.l-nav{
  background-color: rgba($color:$white, $alpha: 0.9);
  .bageReply{
    position: absolute;
    top: 2px;
    left: 80px;
  }
  .nav-link{
    font-weight: bold;
    .l-nav__enTitle{
      color: $text-default-gray;
      font-weight: 500;
      font-size: 11px;
    }
    &:hover{
      background-color: rgba($color: $primary, $alpha: 0.1);
    }
  }
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding: .75rem 1rem;
    height: 100%;
}
}

// .dropdown-menu li:hover {
//   visibility: visible;
// }
// .dropdown:hover .dropdown-menu {
//   display: block;
// }


footer{
  .treeImage{
    top: -60px;
    height: 0px;
    margin-top: 60px;
  }
  // .footer_copyright{
  //   background-color:#317749;
  // }
}