@import "~bootstrap/scss/functions"; // 載入 bootstrap 套用變數的方法
@import "./helpers/variables";  //自定義的變數
@import "./helpers/vue-multiselect";  //自定義的變數
@import "~bootstrap/scss/bootstrap";

//page
@import "./scss/layout";
//page
@import "./scss/index";


a{
  cursor: pointer;
}

//nav
a.nav-link.active {
  background-color: #ecf3e2;
}

.navbar-light .navbar-nav .nav-link{
  color:#4E4E4E;
}

//table
table{
  color:#585851 !important;
}

.bg-cover{
  background-position: center;
  background-size: cover;
}

.radius-0{
  border-radius: 0rem !important;
}
.radius-1{
  border-radius: 0.25rem !important;
}
.radius-2{
  border-radius: 0.5rem !important;
}
.radius-3{
  border-radius: 0.75rem !important;
}
.radius-4{
  border-radius: 1rem !important;
}
.radius-5{
  border-radius: 1.5rem !important;
}

.navbar.bg-white-opacity-7{
background-color:rgba(255,255,255,0.8)!important

}

// index.html
.qablock{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}


.profirePhoto{
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.objectFit{
  object-fit: cover;
}

table.table-radius {

  border: 1px solid #c3c3c3;
  border-radius: 10px;

  border-spacing: 0px;
  border-collapse: separate;
  th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  th,td{
    vertical-align: middle;
  }
}

$wizard-color-neutral: #e3ead8 !default;
$wizard-color-active: #6A9232 !default;
$wizard-color-complete:  #ccc!default;
$wizard-step-width-height: 64px !default;
$wizard-step-font-size: 24px !default;

.step-wrapper {
  display: none;

  &.active {
    display: block;
  }
}

.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 20px;

  li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;

    &:after {
      background-color: $wizard-color-neutral;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
      top: $wizard-step-width-height/2;
    }

    &:after {
      left: 50%;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &.active {
      .step {
        border-color: $wizard-color-active;
        color: $wizard-color-active;
      }

      .caption {
        color: $wizard-color-active;
      }
    }

    &.complete {
      &:after {
        background-color: $wizard-color-complete;
      }

      .step {
        border-color: $wizard-color-complete;
        color: $wizard-color-complete;
      }

      .caption {
        color: $wizard-color-complete;
      }
    }
  }

  .step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $wizard-color-neutral;
    color: $wizard-color-neutral;
    font-size: $wizard-step-font-size;
    height: $wizard-step-width-height;
    line-height: $wizard-step-width-height;
    margin: 0 auto;
    position: relative;
    width: $wizard-step-width-height;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  .caption {
    color: $wizard-color-neutral;
    padding: 11px 16px;
  }
}

