.p-attendResume{
  margin-top: 50px;
  &__basicInfo{
    &__name{
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
.p-evaluationQuiz{
  &__evaluationContext{
    background-color: $gray-100;
  }
  &__quizContext{
    background-color: $gray-100;
  }
}
