
.m-radioChooseGroup {
 
  &__item {
    position: relative;
    width: 75%;
    margin: 0.5rem;

    &__radioBtn {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    &__radioCotent {
      border: 1px solid $primary;
      border-radius: 5px;
      transition: transform 300ms ease;
    }

    &__label {
      text-align: center;
      padding: 20px;
      color: $primary;
    }


    &__radioBtn:checked + &__radioCotent {
      background-color: rgba($color: $primary, $alpha: 0.2);
      border: 1px solid $primary;
      color: white;
      transform: scale(1.03, 1.03);

      &__label {
        color: $primary;
      }
    }
  }
}

//步驟

$wizard-color-neutral: #e3ead8 !default;
$wizard-color-active: #499d66 !default;
$wizard-color-complete:  #ccc!default;
$wizard-step-width-height: 64px !default;
$wizard-step-font-size: 24px !default;

.step-wrapper {
  display: none;

  &.active {
    display: block;
  }
}

.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 20px;

  li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;

    &:after {
      background-color: $wizard-color-neutral;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
      top: $wizard-step-width-height/2;
    }

    &:after {
      left: 50%;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &.active {
      .step {
        border-color: $wizard-color-active;
        color: $wizard-color-active;
      }

      .caption {
        color: $wizard-color-active;
      }
    }

    &.complete {
      &:after {
        background-color: $wizard-color-complete;
      }

      .step {
        border-color: $wizard-color-complete;
        color: $wizard-color-complete;
      }

      .caption {
        color: $wizard-color-complete;
      }
    }
  }

  .step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $wizard-color-neutral;
    color: $wizard-color-neutral;
    font-size: $wizard-step-font-size;
    height: $wizard-step-width-height;
    line-height: $wizard-step-width-height;
    margin: 0 auto;
    position: relative;
    width: $wizard-step-width-height;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  .caption {
    color: $wizard-color-neutral;
    padding: 11px 16px;
  }
}