.l-hero {
  overflow: hidden;
  &__copyWrap {
    position: absolute;
    top: 27%;
    z-index: 1;
    left: 30%;
    transform: translateX(-50%);
    @media (max-width: 992px) {
      top: 22%;
      left: 57%;
      width: 100%;
    }
    &__sun {
      top: -58px;
      left: -10px;
      animation: rotate 4s linear infinite;
    }
    &__content {
      z-index: 1;
      font-family: 'Arial Rounded MT Bold';
      color: $white;
      text-shadow: 0 0 20px rgba($black, 0.65);
      
        h1{
          @media (max-width: 992px) {
            font-size: 2.5rem;
          }
        }
      
      .lead {
        font-family: 'jf-openhuninn';
        letter-spacing: 2px;
        @media (max-width: 992px) {
          font-size: 1rem;
        }
      }
    }
  }
  &__bg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: scale 13s linear 0s forwards, fade 1.5s ease-in 6s forwards;
    height: 700px;
    @media (max-width: 1200px) {
      height: 500px;
    }
  }
}

.p-aboutUs {
  &__wrap {
    margin-top: -40px;
    z-index: 1;
    min-height: 550px;
    position: relative;
    box-shadow: 0 0 20px 1px rgba(111, 111, 111, 0.2);
    &__photo {
      img {
        margin-left: -50px;
        @media (max-width: 768px) {
          display:none;
        }
      }
    }
    &__underContent {
      padding: 50px 50px 0px 15px;
      &__title {
        position: relative;
        &::after {
          content: '';
          width: 50px;
          height: 2px;
          background: $primary;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
        h2 {
          color: $gray-800;
          font-weight: bold;
          letter-spacing: 2px;
          padding-bottom: 11px;
        }
        span {
          color: $gray-400;
          letter-spacing: 2px;
        }
      }
      &__content {
        letter-spacing: 1px;
        line-height: 1.75;
        padding-top: 20px;
        padding-bottom: 50px;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.p-features {
  margin-top: 60px;
  letter-spacing: 0.15rem;
}

.p-serviceFlow {
  margin-top: 100px;
  &__title {
    color: #424242;
    font-weight: 500;
    padding: 20px;
    position: relative;
    &::after {
      content: '';
      width: 50px;
      height: 2px;
      background: $primary;
      position: absolute;
      bottom: -5px;
    }
  }
  &__bg {
    .bg_gr_2 {
      bottom: 0px;
      right: 0px;
    }
  }
  &__content {
    position: relative;
    // background-color: $white;
    padding: 60px 50px;
    border-radius: 15px;
  }

  &__card {
    // box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
    // background-color: rgba($primary, 0.1);
    background-color: #f5f4ee;
    border-radius: 10px;

    &__step {
      top: -50px;
    left: -10px;
    color: rgba($primary,0.6);
    font-size: 3.75rem;
    font-family: 'Arial Rounded MT Bold';
    font-weight: bolder;
    }
    &__title {
      color: $primary;
      padding: 10px 0px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    img {
      height: 130px;
    }
    p {
      padding-top: 20px;
    }
  }
}

.p-feedback {
  // height: 300px;
  &__bg {
    background-position: center;
    background-size: cover;
    height: 380px;
  }
  &__content {
    padding: 30px 0;
    margin-bottom: 200px;
    &__textBg {
      top: 0;
    }
    &__title {
      font-weight: 500;
    }
    &__userFeedback {
    
      .media-body{
        p{
          display: block;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .carousel-indicators {
        bottom: 0;

        li {
          background-color: #fae56d;
        }
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: #fae56d;
      }
      .card {
        box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
        img {
          width: 60px;
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//客戶評價
.clientEvaluation .col-md-3 {
  margin-left: -4px;
}
